<div class="jumbotron" id="home" align="center">
 <h1 class="display-2" id="title">U POSTCARD</h1>
  <h4 class="desc">create your own postcards</h4>
  <a href="/postcards/new"><button class="ctrl-standard typ-subhed fx-sliderIn">Create</button></a>
</div>


