<h3 id="allpostcards"> All Postcards </h3>
<main>
   <% @postcards.each_with_index do |postcard,index| %>
      <a title="picture">
        <figure>
            <img class="postcard-img" src="<%= postcard.front %>" width="100%">
            <%= link_to "View", @postcard, :method => :get, class: "btn btn-outline-info btn-sm button" %>
            <%= link_to 'Delete', postcard, :method => :delete, class: 'btn btn-outline-dark btn-sm button' %>
        </figure>
      </a>
   <% end %>      
</main>