<div class="main-agileits" id="choosefont">
   <div class="form-w3-agile">
      <h2>1.Choose Front</h2>
      <main>      
            <% Front.all.each do |picture| %>
               <a href="postcards/new?picture_url=<%= picture.image_url%>">
               <%= image_tag(picture.image_url, class:"frontpic") %>
               </a>
               <h6 class="frontdesc"><%=picture.name %></h6>
         <% end %>
      </main>
   </div>
</div> 
