<div class="jumbotron" id="home" align="center">
  <h4 class="desc">Your Postcard Has Been Created!</h4>
  <%  sleep 1 %>
  <a href="<%= @postcard.link %>"><button class="ctrl-standard typ-subhed fx-sliderIn">View</button></a>
</div>
